<div id="labels-modal">
  <a class="close"></a>
  <h3 class="actions-header">Labels</h3>
  <input type="search" name="label-search" placeholder="Search labels..." autofocus>
  <ul class="label-colors">
    <li class="label-color color-red" data-color="red">
      <span class="{{labelUsed red}}"></span>
    </li>
    <li class="label-color color-blue" data-color="blue">
      <span class="{{labelUsed blue}}"></span>
    </li>
    <li class="label-color color-green" data-color="green">
      <span class="{{labelUsed green}}"></span>
    </li>
    <li class="label-color color-purple" data-color="purple">
      <span class="{{labelUsed purple}}"></span>
    </li>
    <li class="label-color color-yellow" data-color="yellow">
      <span class="{{labelUsed yellow}}"></span>
    </li>
    <li class="label-color color-orange" data-color="orange">
      <span class="{{labelUsed orange}}"></span>
    </li>
    <li class="label-color color-black" data-color="black">
      <span class="{{labelUsed black}}"></span>
    </li>
  </ul>
</div>
<div id="third-overlay"></div>
