<div class="generic-form" id="move-modal">
  <form action="/move_card" method="post">
    <h3 class="actions-header">Move Card</h3>
    <fieldset>
      {{#with card}}
        <input type="hidden" name="cardID" value="{{id}}">
        <input type="hidden" name="description" value="{{description}}">
        <input type="hidden" name="dueDate" value="{{due_date}}">
        <input type="hidden" name="listID" value="{{list_id}}">
      {{/with}}
    </fieldset>

    <fieldset>
      <select class="move-to-board" name="toBoard">
        <option selected>Board 1</option>
      </select>
      <select class="move-to-list" name="toList">
        {{#each lists}}
          {{#if (sameNames listName thisListName)}}
            <option value="{{listID}}" selected>{{listName}} (current)</option>
          {{else}}
            <option value="{{listID}}">{{listName}}</option>
          {{/if}}
        {{/each}}
      </select><!--
      --><select class="copy-to-position" name="toPosition">
      </select>
    </fieldset>
    <fieldset>
      <input type="submit" value="Move">
    </fieldset>
  </form>
</div>
<div id="third-overlay"></div>
